
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    {# <style type="text/css">

        @page {
            counter-increment: page;

            -ro-scale-content: none;
            hyphens: auto;

            size: A4 portrait;
            margin:15mm 14mm 14mm 14mm;

        }

    </style>
    <style type="text/css" media="screen">
        body {
            background:#CCC;
        }

        .site {
            margin:0 auto;
            width: 21cm;
            padding:1cm 0 1cm 0;
        }

        .page {
            width: 21cm;
            padding:0.5cm 0 0.5cm 0;
            background:#FFF;
            -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);

            position: relative;
        }
    </style> #}

    {# {% if printermarks is defined and printermarks == true %}
        <link rel="stylesheet" type="text/css" href="/bundles/pimcoreadmin/css/print/print-printermarks.css" media="print" />
    {% endif %} #}

</head>

<body>
    <header>
        <nav>
            {# get root node if there is no document defined (for pages which are routed directly through static route) #}
            {% if not document is defined or not document %}
                {% set document = pimcore_document(1) %}
            {% endif %}

            {# get the document which should be used to start in navigation | default home #}
            {% set navStartNode = document.getProperty('navigationRoot') %}
            {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
                {% set navStartNode = pimcore_document(1) %}
            {% endif %}

            {% set mainNavigation = pimcore_build_nav({
                active: document,
                root: navStartNode
            }) %}

            {# later you can render the navigation #}
            {{ pimcore_render_nav(mainNavigation, 'menu', 'renderMenu', {
                maxDepth: 1,
                ulClass: 'nav navbar-nav'
            }) }}
        </nav>
    </header>
<div class="site">
    {{ block('content') }}
</div>

</body>
</html>
